.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.product-containers {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 35px;
}
.cart-containers {
    background-color: #ffb3ff;
}