.product img{
    width: 286px;
    height: 286px;
    margin: 7px;
    border-radius: 8px;
  }
  .product {
      height: 530px;
      width: 300px;
      border: 1px solid #95A0A7;
      position: relative;
      border-radius: 8px;
  }
  .product-info {
      margin-left: 7px;
  }
  .name {
  Font-family: 'Lato';
  Font-style: 'Regular';
  Font-size: '21px';
  font-weight: 400px;
  }
  .cart-btn {
      width: 100%;
      background-color: #ffb3ff;
      height: 50px;
      position: absolute;
      bottom: 0px;
      border-radius: 0 0 8px 8px;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .cart-btn:hover {
    background-color: rgb(255, 94, 0);
  }